* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login__container {
    width: 400px;
    height: 500px;
    margin: 50px auto 0;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-image: linear-gradient(0deg, rgb(70, 70, 199), rgb(0, 221, 255));
}

#login__container #login__user__email,
#login__container #login__user__password {
    width: 360px;
    margin: 8px 0;
}

#login__container #login__user__email input {
    width: 100%;
    height: 28px;
}

#login__container h1 {
    margin: 40px auto;
}

#login__container #login__user__password input {
    width: 100%;
    height: 28px;
}

#login__container button {
    width: 360px;
    height: 30px;
    margin: 40px 0;
    background-image: linear-gradient(to right, rgb(70, 70, 199), rgb(0, 221, 255));
}

input::placeholder {
    padding-left: 10px;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 14px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}